<div class="container main-content">
  <div class="center-block text-center">
    <h1 class="text-center">Wiki List</h1>
    <br>
    <br>
    <div class="text-center signup-content">
        <table class="table table-responsive">
          <tr class="active">
            <td>Wikis</td>
            <td>edit</td>
            <td>delete</td>
          </tr>
        </table>
    </div>
    <br>
    <br>
    <%= link_to "New Wiki", new_wiki_path, :class => 'btn btn-signup'%>
  </div>
</div>
